<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NoteApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/layout.css" />
    <script src="https://kit.fontawesome.com/46e18bb4ff.js" crossorigin="anonymous"></script>
    @RenderSection("Styles", required: false)

</head>
<body>
    <div class="row">
        <div class="col-md-2">
            <div class="options-group">
                <div class="notes-group display-flex">
                    <i class="far fa-lightbulb color-white"></i>
                    <a asp-area="" asp-controller="Note" asp-action="CreateNote" class="color-white note">Notas</a>
                </div>
                    
                <div class="archieve-group display-flex">
                    <i class="fas fa-archive color-white archive"></i>
                    <a asp-area="" asp-controller="Note" asp-action="ArchiveNote" class="color-white" style="margin-left: -5px">Archivar</a>
                </div>
                    
                <div class="trash-group display-flex">
                    <i class="far fa-trash-alt color-white delete"></i>  
                    <a asp-area="" asp-controller="Note" asp-action="DeleteNote" class="color-white" style="margin-left: -3px;">Papelera</a> 
                </div>
            </div>
        </div>
        <div class="col-md-10">
            <main role="main">
                @RenderBody()
            </main>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
