<form action="@Url.Action("ToCreateNote", "Note")" method="POST" class="form1">
    <input type="text" name="title">
    <input type="text" name="body">
    <input type="submit" value="Crear Nota">
</form>